:root {
    --primary: #aaaab1;
    --secondary: #111217;
    --tertiary: #51525c;
    --blue: #94bee3;
    --green: #48c38a;
    --dark-green: #33ae80;
    --grey: #b4b4be;
    --btn-primary-color: #3f8cff;
    --btn-darken-primary-color: #3575d6;
    --btn-blue-color: #304be9;
    --btn-success-color: #daf3e3;
    --body-background-color: #dce1e8;
    --second-background-color: #f6f7fa;
    --body-table-color: #8f8f8f;
    --modal-border-color: #ededef;
    --loading-grey: #ededed;
}

/***********************************/
/*              HEADER             */
/***********************************/
.nav--header {
    height: 65px;
    background-color: white;
    width: 100%;
    margin-top: 42px;
    padding: 13px 34px;
    display: flex;
}

.container.nav--header>:nth-child(2) {
    display: flex;
    justify-content: center;
    margin-right: auto;
}

.logo {
    display: flex;
    align-items: center;
}

.logo--icon {
    margin-right: 10px;
}

.logo--icon img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.logo--text {
    font-size: 2em;
    font-weight: 800;
}

#search-form {
    display: flex;
    align-content: center;
}

.search-box--container {
    width: 400px;
    height: 36px;
    background-color: var(--second-background-color);
    align-self: center;
    margin-left: 30px;
    font-size: 1.5em;
    font-weight: 300;
    display: flex;
}

.search-box--icon {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.search-box--icon img {
    width: 28px;
    height: 28px;
    opacity: 0.3;
}

.search-box--input {
    display: flex;
    align-items: center;
    width: 100%;
    color: var(--green);
    margin-left: 7px;
}

.search-box--input input {
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
    font-size: 1.2em;
    caret-color: var(--tertiary);
    color: var(--secondary);
}

.search-box--input input:focus {
    color: var(--secondary)
}

.search-box--input input::placeholder {
    color: var(--grey);
    transform: translateY(2px);
}

.search-button {
    display: flex;
    align-content: center;
    align-items: center;
    margin-left: 20px;
}

.search-button button {
    height: 36px;
    color: white;
    background-color: var(--green);
    border: 1px solid var(--green);
    font-weight: 500;
}

.search-button button:hover {
    background-color: var(--dark-green);
    border: 1px solid var(--dark-green);
}

.search-button button:focus,
.search-button button:active {
    box-shadow: 0px 0px 5px 1px rgba(72, 195, 138, 0.5);
}

.btn-logout {
    display: flex;
    align-content: center;
    align-items: center;
    margin-left: 20px;
}

.btn-logout button {
    height: 36px;
    color: white;
    background-color: var(--btn-primary-color);
    border: 1px solid var(--btn-primary-color);
    font-weight: 500;
}

.btn-logout button:hover {
    background-color: var(--btn-darken-primary-color);
    border: 1px solid var(--btn-darken-primary-color);
}

.btn-logout button:focus,
.btn-logout button:active {
    box-shadow: 0px 0px 5px 1px var(--btn-darken-primary-color);
}


/***********************************/
/*              CONTENT            */
/***********************************/

.content--container {
    height: calc(100vh - 200px);
    background-color: white;
    padding: 0 34px 34px;
    display: flex;
    flex-direction: column;
}

.nav--content {
    width: 100%;
    display: flex;
    border-top: 1px solid var(--second-background-color);
    font-size: 1.5em;
    color: var(--primary)
}

.nav--content ul {
    display: flex;
    height: 56px;
    padding-bottom: 3px;
}

.nav--content ul>li {
    height: 100%;
    vertical-align: middle;
    font-weight: 300;
    text-align: center;
    display: flex;
    align-items: center;
    margin: 0 20px;
}

.nav--content ul>li.active {
    height: 100%;
    color: var(--secondary);
    border-bottom: 3px solid var(--btn-primary-color);
    font-weight: 600;
}

.sub-page {
    background-color: var(--second-background-color);
    width: 100%;
    height: 100%;
}

.sub-page--wrap {
    margin: 20px;
}

.sub-page--title {
    font-size: 2em;
    font-weight: 600;
}


/***********************************/
/*   SUB PAGE USER PROFILE         */
/***********************************/

.sub-page--profile {
    width: 100%;
    background-color: white;
    height: 100px;
    box-shadow: 10px 10px 10px 0.1rem rgba(173, 172, 172, 0.1);
    display: flex;
    align-items: center;
}

.sub-page--profile .avatar {
    display: flex;
    align-items: center;
    margin-left: 15px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

.sub-page--profile .avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.sub-page--profile .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
    width: 100%;
    height: 100%;
}

.sub-page--profile p {
    margin: 0;
}

.sub-page--profile .name {
    font-size: 1.4em;
    font-weight: 600;
}

.sub-page--profile .id {
    font-size: 0.8em;
    display: flex;
    font-weight: 500;
}

.sub-page--profile .id .copy-icon img {
    width: 16px;
    height: 16px;
    opacity: 0.4;
}

.sub-page--profile .id .copy-icon {
    margin-left: 2px;
    background: none;
    border: none;
    position: relative;
    padding: 0;
}

.sub-page--profile .id .copy-icon:hover img {
    opacity: 1;
}



.sub-page.loading .sub-page--profile .avatar {
    border-radius: 50%;
}

.sub-page.loading .sub-page--profile .avatar,
.sub-page.loading .sub-page--profile .info .name,
.sub-page.loading .sub-page--profile .info .id {
    background: #f0f2f5;
}


.sub-page.loading .sub-page--profile .info .name {
    height: 1.3em;
    width: 200px;
    margin-bottom: 0.1em;

}

.sub-page.loading .sub-page--profile .info .id {
    height: 1em;
    width: 200px;
}

.sub-page.loading .sub-page--profile .id img {
    visibility: hidden;
    opacity: 0;
}


/***********************************/
/*          SUB PAGE TABLE         */
/***********************************/
.sub-page--table {
    border-collapse: separate;
    border-spacing: 0 10px;
    font-size: 1.5em;
    width: 100%;

}

.sub-page--table>tbody {
    max-height: 400px;
    overflow-y: auto;
}

.sub-page--table>thead>tr,
.sub-page--table>tbody>tr {
    width: 100%;
    height: 56px;
    margin-bottom: 7px;
}

.sub-page--table>tbody>tr {
    background-color: white;
    box-shadow: 10px 10px 10px 0.1rem rgba(173, 172, 172, 0.1);
}

.sub-page--table>tbody>tr:hover {
    background-color: rgba(176, 208, 255, 0.05);
    cursor: pointer;
}

.sub-page--table>tbody>tr>td {
    color: var(--body-table-color)
}

.sub-page--table>tbody>tr>td:first-child,
.sub-page--table>thead>tr>th:first-child {
    padding-left: 30px;
    width: 120px;
}

.sub-page--table>thead>tr>th {
    text-align: left;
    color: var(--tertiary)
}

.sub-page--table .action-icon a img {
    width: 24px;
    height: 24px;
    opacity: 0.5;
}

.sub-page--table .action-icon a {
    width: 110px;
    height: 30px;
    border-radius: 5px;
    position: relative;
    display: flex;
    align-items: center;
    color: var(--btn-primary-color);
    padding: 5px;
    margin: 5px;
    justify-content: center;
    border: 1px solid var(--btn-primary-color);
}


.sub-page--table .action-icon a:hover,
.sub-page--table .action-icon a:active,
.sub-page--table .action-icon a:focus {
    background-color: var(--btn-primary-color);
    color: white;
}

.sub-page--table .action-icon a:hover {
    /* cursor: pointer; */
    opacity: 1;
}

.sub-page--table .action-icon a:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .5);
}

.sub-page--table .action-icon .action--edit {
    margin-left: 0;
}



/***********************************/
/*              MODAL              */
/***********************************/
.modal {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
    display: none;
}

.modal.active {
    display: block;
}


.modal--background {
    background-color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
}

.modal--content-wrap {

    background-color: white;
    max-width: 300px;
    /* height: 200px; */
    margin: 56px auto;
    padding: 0px 15px;
    box-shadow: 0 0 0px 1px var(--modal-border-color);
}

.modal--header,
.modal--body {
    padding: 10px 0;
    border-bottom: 1px solid var(--modal-border-color);
}

.modal--header {
    border-bottom: 1px solid var(--modal-border-color);
    display: flex;
    justify-content: space-between;
}

.modal--header--title {
    font-size: 2em;
    font-weight: 500;
}

.modal--header .btn.btn-close {
    display: flex;
    align-items: center;

}

.modal--header .btn.btn-close {
    padding: 5px 6px;
    border: none;
    background-color: transparent;
    color: var(--secondary);
}

.modal--header .btn.btn-close:focus {
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, .25);
}

.modal--body--form {
    width: 100%;
    height: 100%;
    display: flex;
}

.modal--body--form .input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 5px;
}

.modal--body--form .label {
    font-weight: 500;
    color: var(--tertiary);
    margin-bottom: 0.5em;
}

.modal--body--form .input {
    max-width: 100%;
    border: 1px solid var(--modal-border-color);
    outline: 1px solid var(--modal-border-color);
    height: 2em;
    box-shadow: 0px 0px 10px 2px var(--modal-border-color);
    padding: 0;
    color: var(--tertiary);
    --placeholder-color: var(--tertiary);
    padding: 0px 10px;
}


.modal--footer {
    display: flex;
    justify-content: end;
    padding: 10px 0 10px 10px;
}

.modal--footer .btn.btn-close,
.modal--footer .btn.btn-update {
    height: 2em;
    font-size: 1.3em;
    font-weight: 600;
}

.modal--footer .btn.btn-close:focus {
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, .25);
}

.modal--footer .btn.btn-update:focus {
    box-shadow: 0px 0px 5px 1px rgba(53, 117, 214, 0.5);
}

.modal--footer .btn.btn-close {
    margin-right: 10px;
    border: 1px solid #dedfe1;
    background-color: transparent;
    color: var(--secondary);

}

.modal--footer .btn.btn-update {
    background-color: var(--btn-primary-color);
    border: 1px solid var(--btn-primary-color);
    color: var(--second-background-color);

}

.modal--footer .btn.btn-update:hover .modal--footer .btn.btn-update:focus {
    background-color: var(--btn-darken-primary-color);
    border: 1px solid var(--btn-darken-primary-color);
}

/***********************************/
/*              TOAST              */
/***********************************/

.notification {
    position: fixed;
    top: 42px;
    right: 20px;
    z-index: 50;
}

.toast--container {
    position: relative;
    padding: 10px;
    background-color: white;
    width: 200px;
    box-shadow: 0px 0px 10px 1px var(--grey);
    margin-bottom: 20px;
    overflow: hidden;
}

.toast--header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--modal-border-color);
    padding-bottom: 3px;
}

.toast--header .icon-status {
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.toast--header .icon-status img {
    width: 12px;
    height: 12px;
}

.toast--header .btn.btn-close {
    padding: 5px 6px;
    border: none;
    background-color: transparent;
    color: var(--secondary);
}

.toast--header .btn.btn-close:focus {
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, .25);
}

.toast--header .title {
    margin-right: auto;
    font-weight: 500;
    font-size: 1.4em;
}

.toast--body .message {
    font-size: 1.2em;
}

.toast--container.success {
    box-shadow: 0px 0px 10px 3px rgba(76, 189, 166, 0.5);
}

.toast--container.success .toast--header .title,
.toast--container.success .toast--body .message {
    color: #4cbda6;
}


.toast--container.error {
    box-shadow: 0px 0px 10px 3px rgba(216, 85, 98, 0.5);
}

.toast--container.error .toast--header .title,
.toast--container.error .toast--body .message {
    color: #d85562;
}

.toast--footer {
    position: relative;
}

.toast--footer .wrap--countdown .countdown {
    position: absolute;
    width: calc(100% + 20px);
    height: 5px;
    bottom: -10px;
    left: -10px;
}

.toast--footer .countdown {
    position: relative;
    height: 100%;
    background-color: #d85562;
}

.toast--container.success .toast--footer .countdown {
    background-color: #4cbda6;
}

.toast--container.error .toast--footer .countdown {
    background-color: #d85562;
}

/***********************************/
/*            LOADING              */
/***********************************/
/* <div id="loading-screen" class="loading-show">
<div class="container">
  <span class="ring"></span>
  <span class="ring"></span>
  <span class="ring"></span>
</div>
</div> */

#loading-screen {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    position: fixed;
    top: 0;
    z-index: 100;
    visibility: hidden;
}

#loading-screen.loading-hide {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.33s, opacity 0.33s linear;
}

#loading-screen.loading-show {
    visibility: visible;
    opacity: 1;
    animation: fadeIn ease 0.3s;
}

#loading-screen .container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loading-screen .container .ring {
    width: 100px;
    height: 100px;
    border: 0px solid rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    position: absolute;
}

#loading-screen .container .ring:nth-child(1) {
    border-bottom-width: 6px;
    border-color: #ff4c60;
    animation: rotation1 1s linear infinite
}

#loading-screen .container .ring:nth-child(2) {
    border-bottom-width: 6px;
    border-color: #ffd15c;
    animation: rotation2 1s linear infinite
}

#loading-screen .container .ring:nth-child(3) {
    border-bottom-width: 6px;
    border-color: #6c6ce5;
    animation: rotation3 1s linear infinite
}



/***********************************/
/*            ANIMATION            */
/***********************************/

.modal.active .modal--content-wrap {
    animation: show-modal 0.3s ease;

}

.modal.active .modal--background {
    animation: fade-in-modal-background 0.3s ease;
}

.toast--container {
    animation: show-toast 1s ease forwards;
}

.toast--footer .countdown {
    animation: countdown 4s ease forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}


@keyframes countdown {
    0% {
        width: 100%;
    }

    100% {
        width: 0%;
    }

}

@keyframes show-modal {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }

}

@keyframes fade-in-modal-background {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.5;
    }

}


@keyframes show-toast {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    25% {
        transform: translateX(-10%);
    }

    50% {
        transform: translateX(0%);
        opacity: 1;
    }

    100% {
        transform: translateX(-10px);

    }
}


@keyframes slide-out-toast {
    0% {
        transform: translateX(-10%);
    }

    50% {
        transform: translateX(0%);
    }

    75% {
        transform: translateX(-10%);
    }

    100% {
        transform: translateX(150%);
    }
}

@keyframes scale-y-toast {
    0% {
        opacity: 0;
    }

    100% {
        padding: 0;
        margin: 0;
        height: 0;
        opacity: 0;
    }

}

@keyframes rotation1 {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }

}

@keyframes rotation2 {
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }

}

@keyframes rotation3 {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }

}